<div class="slideshow">
  <div id="slideshow" class="nivoSlider" style="width: 960px; height: 300px;">
    <a href="#"><img src="../images/banner/01.png" alt="" /></a>
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function() {
  $('#slideshow').nivoSlider({
    effect: "sliceDown"
  });
});
--></script>

<div class="index_left">
  <h3>我们提供的服务</h3>
  <div class="index_commend">
  <div class="commend_mod mod_export_new">  
      <h4><img src="/images/fbkyfw.png" alt="方便的客运服务" /></h4>

      <p>公司拥有大客车近百辆，客运网络覆盖北京，济南，天津，呼市以及内蒙古多个省市。</p>
    </div>
  <div class="commend_mod mod_ppc_new"> 
      <h4><img src="/images/kjwlwl.png" alt="快捷的物流服务" /></h4>
      <p>为您提供快捷的物流服务， 公司拥有多网点, 并且可提供代收货款服务</p>
    </div>
  </div>
</div>
<div class="index_right">
  <h3>赤峰金刚辉腾</h3>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤峰金刚辉腾物流有限公司业务涵盖客运，物流行业， 公司位于内蒙古赤峰市， 公司现有大客车近百辆，员工两百人。 公司本着对社会负责，对员工负责的态度为广大客户提供高效快捷方便和谐的服务。
  </p>
</div>


