<div class="banner">
    <img src="../images/banner/product-and-service.jpg" alt="个性化定制营销服务">
</div>
<div id="crumb">您当前位置：<a href="http://www.mylood.com/">首页</a>&nbsp; /&nbsp;&nbsp;关于我们</div>

<div class="aside aside_other">
                     
        <h2>关于我们</h2>
        <ul>
            <li class="current"><a href="#link_/3295.html">Mylood电商平台</a></li>
            <li><a href="#link_/3301.html">付费点击广告PPC</a></li>
            <li><a href="#link_/3314.html">外贸SEO</a></li>
            <li><a href="#link_/3318.html">国际权威认证</a></li>
            <li><a href="#link_/3320.html">海外媒体发布PR</a></li>
            <li><a href="#link_/3322.html">社会化媒体营销SNS</a></li>
            <li><a href="#link_/3332.html">联盟营销AM</a></li>
            <li><a href="#link_/3339.html">电子邮件营销EDM</a></li>
 
        </ul>
</div>


<div class="article custom">
    <div class="clearfix">
            
      <h2 class="custom_h2_title ecplant_title">Mylood 电商平台</h2>
      <span class="handle"><a class="a_collect" href="javascript:bookmark()">收藏</a><a class="a_print" href="javascript:window.print()">打印</a></span>
    </div>
    
    <p>四海商舟电商平台一直致力于为国内领先制造型企业提供外贸电商的企业级应用，帮助外向型零售企业搭建多渠道在线营销平台，包括web网站、移动网站，应用和社会化网站等。</p>
    <p>四海商舟电商平台功能丰富，前台体验在研究欧美人的消费习惯的基础上，根据产品特点进行个性化定制，后台按照中国人的使用习惯进行研发。四海商舟云计算平台保证了客户平台稳定、高性能和高扩展性，用户可以根据业务需要选择合适的系统平台。</p>

    <h4 class="custom_h4_title ectable_compare">电商平台特性对比</h4>

    <table class="ectable_table">
      <thead>
        <tr>
          <th>Features</th>
          <th>Magento</th>
          <th>ATG</th>
          <th>Mylood</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>多渠道</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes(ebay, Amazon,<br> Facebook, Twitter)</td>
        </tr>
        <tr>
          <td>多网点</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>SaaS版本</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>PCI合规检测</td>
          <td>No</td>
          <td>No</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>个性化体验定制</td>
          <td>No</td>
          <td>No</td>
          <td>Yes(f前台满足客户欧美<br>用户体验需求，后台满足<br>国内客户需求)</td>
        </tr>
        <tr>
          <td>营销工具</td>
          <td>No</td>
          <td>No</td>
          <td>Yes(mini-oss)</td>
        </tr>
        <tr>
          <td>B2B相关功能</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>目标客户</td>
          <td>Soho/Mid-sized</td>
          <td>Big Company</td>
          <td>Mid-sized</td>
        </tr>
      </tbody>
    </table>


    <h4 class="custom_h4_title custom_case_title">案例分享</h4>

</div>

<script type="text/javascript">
	$(".case > ul > li").caseshow({
		windowTop:0
	});
</script>