<div class="article custom">
  <div class="clearfix">

    <h2 class="custom_h2_title ecplant_title">公司新闻</h2>
    <span class="handle"><a class="a_collect" href="javascript:bookmark()">收藏</a><a class="a_print" href="javascript:window.print()">打印</a></span>
  </div>

  <%= raw @page.content %>
</div>

