.nav { float: left; background:url(../images/nav/sprites.gif) 0 -260px repeat-x #3a5079; height:38px; position:relative; zoom:1; width:960px; z-index:10;}
.nav li{float:left; height:35px; line-height:35px; padding:0 16px; min-width:40px; font-weight: bold;}
li#nav01{ }
/*li#nav02{ background:url(../images/arrow3.png) 140px center no-repeat; width:126px;}*/
li#nav02{ background:url(../images/nav/arrow3.png) 116px center no-repeat; }
li#nav03{ background:url(../images/nav/arrow3.png) 93px center no-repeat; }
li#nav04{ }
li#nav05{ }
li#nav06{ }
li#nav07{ background:url(../images/nav/arrow3.png) 80px center no-repeat; width:70px;}
li.navLine{ background:url(../images/nav/sprites.gif) 0 -220px no-repeat; height:35px; padding:0; min-width:2px; width:2px;}

.nav li a{ display:block;}
.nav a:link,.nav a:visited{ color:#bfcce4; font-size:14px;}
.nav a:hover,.nav a:active{ color:#fff; font-weight:bold; font-size:14px;}

#breNav{ color:#bfcce4; height:20px; line-height:20px; width:960px; text-align:left;}
#breNav a:link,#breNav a:visited{ color:#bfcce4;}
#breNav a:hover,#breNav a:active{ color:#4b628c;}

#sub01,#sub02,#sub03{ display:none;}
.border01{ background:url(../images/nav/border01.gif) right 20px no-repeat;}

#sub01{ background:url(../images/nav/subbg.png) left top no-repeat; height:114px; width:960px; position:absolute; left:-74px; z-index:3}
#sub01 h2{ float:left;}
#sub01 h3{ background:url(../images/nav/ts.gif) no-repeat;  float:left; height:76px; margin:20px 30px 0 13px; width:40px;}
#sub01 h2 a{ display:block; font-size:12px; font-weight:normal; height:98px;}
#sub01 h2 a:link,#sub01 h2 a:visited{ color:#4a618b; font-weight:bold;}
#sub01 h2 a:hover,#sub01 h2 a:active{ color:#f0830f; font-weight:bold;}
#sub01 h2 span{ cursor:pointer; display:block; height:10px; padding:65px 0 0 0;}

a#logo01{ background:url(../images/nav/ekaidian.jpg) 40px 10px no-repeat; width:200px;}
a#logo02{ background:url(../images/nav/ets.jpg) 0 25px no-repeat; width:175px;}
a#logo03{ background:url(../images/nav/fxw.jpg) 10px 20px no-repeat; width:115px;}
a#logo04{ background:url(../images/nav/tse.jpg) 10px 20px no-repeat; width:140px;}
a#logo05{ background:url(../images/nav/drp.png) 10px 20px no-repeat; width:116px;}
a#logo06{ background:url(../images/nav/dzg.jpg) 10px 20px no-repeat; width:110px;}

/*#sub02 { background-color:#fff; border-left:1px solid #000; border-right:1px solid #000; border-bottom:1px solid #000; height:110px; width:120px; position: absolute; left:-1px; z-index:3}
#sub02 h2 { display:block; font-size:12px; font-weight:normal; height:22px; width:120px;}
#sub02 h2 a{ font-size:12px; font-weight:normal; line-height:22px;}
#sub02 h2 a:link,#sub02 h2 a:visited{ color:#4a618b}
#sub02 h2 a:hover,#sub02 h2 a:active{ color:#4a618b; font-weight:bold;}
*/

#sub02,#sub03,span.slb,span.srb
{ background-image:url("../images/nav/etitlesbg.gif"); background-repeat:no-repeat; height:35px; line-height:35px;}
span.slb,span.srb{ height:30px; line-height:30px;}

#sub02{ background-position:0 -711px; background-repeat:repeat-x; padding:0 0 0 100px; width:860px; position:absolute; left:-218px; top:30px; z-index:300}
#sub02 h2{ background:url("../images/nav/etitlesbg.gif") right -751px no-repeat; float:left; width:100px; padding:0 0 0 5px;}
#sub02 h2 a{ color:#4b628c; display:block; font-size:12px; font-weight:normal;}
#sub02 h2 a:hover{ color:#f7801c; font-weight:bold;}
#sub02 h2.w01{ width:115px;}


#sub03{ background-position:0 -711px; background-repeat:repeat-x; padding:0 0 0 380px; width:580px; position:absolute; left:-670px; top:30px; z-index:3}

span.slb { background-position:0 -200px; display: block; left: 0; position: absolute; top: 0; width: 3px; }
span.srb { background-position:0 -260px;  display: block; position: absolute; right: 0; top: 0; width: 3px; }

#sub03 h2{ background:url("../images/nav/etitlesbg.gif") right -751px no-repeat; float:left; width:60px; padding:0 10px;}
#sub03 h2 a{ color:#4b628c; display:block; font-size:12px; font-weight:normal;}
#sub03 h2 a:hover{ color:#f7801c; font-weight:bold;}

#sub03 h2.w03{ width:94px;}


a.quickhover{ background:url(../images/nav/sprites.gif) 65px -46px no-repeat; display:block; height:28px; width:80px;}
a.quickon{ background:url(../images/nav/sprites.gif) 64px -46px no-repeat #fff; width:78px; border-left:1px solid #ccc; border-right:1px solid #ccc; position: absolute; left:0; z-index:1001;}

ul#quickMenu { float:right; text-align:center;}
ul#quickMenu li { float: left; display:block; height:28px; line-height:28px; position: relative; width:80px; z-index:25;}
ul#quickMenu li a { color:#4A628D; height:28px;}
ul#quickMenu li a:hover { color:#f0830f; text-decoration:underline;}


#subQuick { background-color:#fff; border:1px solid #ccc; display:none; padding:0 0 10px 0; text-align:left; position: absolute; top: 27px; right:0; z-index:1000;}
#subQuick h2{ clear:both; color:#4A628D; display:block; font-size:14px; padding:10px 0 0 20px; width:160px;}
ul#quickMenu #subQuick a{ height:20px; line-height:20px; text-decoration:underline;}
.netNav{ width:180px; margin:0 0 5px 0; padding:0 0 0 20px; overflow:hidden;}
.netNav a{ margin:0 10px 0 0; width:auto;}
.netNav a:link,.netNav a:visited{ color:#666;}
.netNav a:hover,.netNav a:active{ color:#ff6600;}


.box1 .tl, .box1 .tr, .box1 .bl, .box1 .br,
.box5 .tl, .box5 .tr, .box5 .bl, .box5 .br,
.box6 .tl, .box6 .tr, .box6 .bl, .box6 .br,
.navbox .tl, .navbox .tr, .navbox .bl, .navbox .br,
.box7 .tl, .box7 .tr, .box7 .bl, .box7 .br,
.box8 .tl, .box8 .tr, .box8 .bl, .box8 .br,
.box9 .tl, .box9 .tr, .box9 .bl, .box9 .br,
.box10 .tl, .box10 .tr, .box10 .bl, .box10 .br,
.box11 .tl, .box11 .tr, .box11 .bl, .box11 .br,
.box12 .tl, .box12 .tr, .box12 .bl, .box12 .br,
.box13 .tl, .box13 .tr, .box13 .bl, .box13 .br,
.box14 .tl, .box14 .tr, .box14 .bl, .box14 .br
{
	background:url(../images/nav/roundedb.gif) no-repeat;
	}

.box1{ position:relative; zoom:1;}
.box1 .tl, .box1 .tr, .box1 .bl, .box1 .br {
	width:5px;
	height:5px;
	position:absolute;
	overflow:hidden;
}
.box1 .tl 	{ left:0; top:0;}
.box1 .tr 	{ right:0; top:0; background-position:0 -5px;}
.box1 .bl  	{ left:0; bottom:0; background-position:0 -10px;}
.box1 .br  	{ right:0; bottom:0; background-position:0 -15px;}

.navbox .tr	{ background-position:0 -65px;}
.navbox .tl	{ background-position:0 -60px;}
.navbox .bl { left:0; bottom:0; background-position:0 -70px; z-index:-1;}
.navbox .br { right:0; bottom:0; background-position:0 -75px; z-index:-1;}
